In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import scipy.stats as stats
import seaborn as sns

In [2]:
diaper_train = pd.read_excel('diaper_train.xlsx')
diaper_test = pd.read_excel('diaper_test.xlsx')

In [20]:
d = pd.date_range(start='2018-01-01', end='2018-07-31', freq='W').tolist()

In [21]:
len(d)

30

In [5]:
d[0]

Timestamp('2018-01-07 00:00:00', freq='W-SUN')

In [6]:
diaper_train.biz_dt[:5]

105    2018-01-01 00:00:26
212    2018-01-01 00:00:52
2357   2018-01-01 00:03:47
3125   2018-01-01 00:04:27
3831   2018-01-01 00:05:09
Name: biz_dt, dtype: datetime64[ns]

In [7]:
diaper_train.head(3)

,Unnamed: 0,biz_dt,m_id,order_price,prod_no,old_admin_category_id,serv_cd
105,105,2018-01-01 00:00:26,"6,200,018","34,900","1,472,659","241,010,102",1
212,212,2018-01-01 00:00:52,"2,683,481","32,000","1,597,856","241,010,102",1
2357,2357,2018-01-01 00:03:47,"3,579,286","104,700","1,766,436","241,010,102",1

In [8]:
diaper_train.head(3).m_id.unique()

array(['6,200,018', '2,683,481', '3,579,286'], dtype=object)

---

In [9]:
d[:2]

[Timestamp('2018-01-07 00:00:00', freq='W-SUN'),
 Timestamp('2018-01-14 00:00:00', freq='W-SUN')]

In [11]:
mid = diaper_train.m_id.unique()

In [12]:
mid

array(['6,200,018', '2,683,481', '3,579,286', ..., '4,781,826',
       '4,901,809', '11,057,206'], dtype=object)

In [13]:
mid[:10]

array(['6,200,018', '2,683,481', '3,579,286', '1,385,545', '21,869,594',
       '1,171,447', '10,053,496', '6,642,677', '4,254,340', '23,169,163'],
      dtype=object)

In [16]:
c = diaper_train[diaper_train.m_id == mid[0]]

In [17]:
c

,Unnamed: 0,biz_dt,m_id,order_price,prod_no,old_admin_category_id,serv_cd
105,105,2018-01-01 00:00:26,"6,200,018","34,900","1,472,659","241,010,102",1
3125,3125,2018-01-01 00:04:27,"6,200,018","34,900","1,472,659","241,010,102",1
732522,10732522,2018-01-24 09:44:17,"6,200,018","15,800","3,201,607","241,010,102",1

In [22]:
d[0]

Timestamp('2018-01-07 00:00:00', freq='W-SUN')

In [23]:
c[c.biz_dt <= d[0]].shape[0]

2

In [38]:
# 30주간 모든 멤버의 주간 기저귀 구매량!
# 여기서 밝히지 않은 len(d) = 30


mid = diaper_train.m_id.unique()
uu = []

for i in range(len(mid)):
    
    c = diaper_train[diaper_train.m_id == mid[i]].shape[0]  
    uu.append(c/len(d))

KeyboardInterrupt:

In [37]:
uu

[0.1,
 0.23333333333333334,
 0.06666666666666667,
 0.03333333333333333,
 0.1,
 0.06666666666666667,
 0.1,
 0.03333333333333333,
 0.1,
 0.03333333333333333]

In [33]:
# 30주간 모든 멤버의 주간 기저귀 구매량!

mid = diaper_train.m_id.unique()
uu = []

for i in range(len(mid[:10])):
    #dd[i] = []
    c = diaper_train[diaper_train.m_id == mid[i]]
    s = 0
    for j in range(len(d)):
        if j ==0 :
            s += c[c.biz_dt <= d[j]].shape[0]
        else :
            s += c[ (d[j-1] < c.biz_dt) & (c.biz_dt <= d[j]) ].shape[0]
    
    uu.append(s/len(d))

In [34]:
uu

[3, 7, 2, 1, 3, 2, 3, 1, 3, 1]

In [35]:
diaper_train[diaper_train.m_id == mid[1]]

,Unnamed: 0,biz_dt,m_id,order_price,prod_no,old_admin_category_id,serv_cd
212,212,2018-01-01 00:00:52,"2,683,481","32,000","1,597,856","241,010,102",1
6011217,26011217,2018-03-01 12:03:41,"2,683,481","33,900","3,110,662","241,010,102",1
6012566,26012566,2018-03-01 12:07:06,"2,683,481","33,900","3,110,662","241,010,102",1
655058,40655058,2018-04-02 00:09:06,"2,683,481","33,900","2,936,690","241,010,102",1
2710266,52710266,2018-04-25 15:03:18,"2,683,481","29,500","3,589,515","241,010,102",1
826256,80826256,2018-06-25 08:53:02,"2,683,481","29,900","3,755,616","241,010,102",1
4831455,84831455,2018-07-03 16:10:37,"2,683,481","33,900","3,084,782","241,010,102",1

In [32]:
uu

[0.1,
 0.23333333333333334,
 0.06666666666666667,
 0.03333333333333333,
 0.1,
 0.06666666666666667,
 0.1,
 0.03333333333333333,
 0.1,
 0.03333333333333333]

In [26]:
len(dd)

10

In [28]:
len(dd[0])

30