# # user_1000087 의 거래내역이 맞게 계산되었나?

![title](user.png)

In [ ]:
did =

In [38]:
did = [3055111, 3865190, 3360887,3313229,3617908,3884499,3884499,
3941577,3360887,3715208,3715208,3715208,3963441,3959632,
3976866,3976866,3981411,3981411,3981411,3988159,3980235,
3978092,3993395,3993395,3461219,3857074,3611892,3360887,1942015,
4004741,4004741,4004741,4004741,4004741,4015551,
1886485,4034175,4034566,4034566,4039165,4039165,4039165,4039165,4039165,4032233,4032233,4032233,4032233,
4038249,4038249,4038249,4038249,
4030382,
3939509,3939509,4044626,4044261,
4014312,4053445,4080934,4080934,4081343,3337785,4098929,2143641,2143641,
4108536,4108536,4108536,4108536,4108536,4108536,4108536,
4111523,4111523,
3391722,1942015,4014312]

In [39]:
did

[3055111,
 3865190,
 3360887,
 3313229,
 3617908,
 3884499,
 3884499,
 3941577,
 3360887,
 3715208,
 3715208,
 3715208,
 3963441,
 3959632,
 3976866,
 3976866,
 3981411,
 3981411,
 3981411,
 3988159,
 3980235,
 3978092,
 3993395,
 3993395,
 3461219,
 3857074,
 3611892,
 3360887,
 1942015,
 4004741,
 4004741,
 4004741,
 4004741,
 4004741,
 4015551,
 1886485,
 4034175,
 4034566,
 4034566,
 4039165,
 4039165,
 4039165,
 4039165,
 4039165,
 4032233,
 4032233,
 4032233,
 4032233,
 4038249,
 4038249,
 4038249,
 4038249,
 4030382,
 3939509,
 3939509,
 4044626,
 4044261,
 4014312,
 4053445,
 4080934,
 4080934,
 4081343,
 3337785,
 4098929,
 2143641,
 2143641,
 4108536,
 4108536,
 4108536,
 4108536,
 4108536,
 4108536,
 4108536,
 4111523,
 4111523,
 3391722,
 1942015,
 4014312]

In [42]:
import pandas as pd

de = pd.DataFrame({'did' : did})

In [43]:
de

        did
0   3055111
1   3865190
2   3360887
3   3313229
4   3617908
5   3884499
6   3884499
7   3941577
8   3360887
9   3715208
10  3715208
11  3715208
12  3963441
13  3959632
14  3976866
15  3976866
16  3981411
17  3981411
18  3981411
19  3988159
20  3980235
21  3978092
22  3993395
23  3993395
24  3461219
25  3857074
26  3611892
27  3360887
28  1942015
29  4004741
..      ...
48  4038249
49  4038249
50  4038249
51  4038249
52  4030382
53  3939509
54  3939509
55  4044626
56  4044261
57  4014312
58  4053445
59  4080934
60  4080934
61  4081343
62  3337785
63  4098929
64  2143641
65  2143641
66  4108536
67  4108536
68  4108536
69  4108536
70  4108536
71  4108536
72  4108536
73  4111523
74  4111523
75  3391722
76  1942015
77  4014312

[78 rows x 1 columns]

In [44]:
de.did.nunique()

42

In [45]:
de.did.unique()

array([3055111, 3865190, 3360887, 3313229, 3617908, 3884499, 3941577,
       3715208, 3963441, 3959632, 3976866, 3981411, 3988159, 3980235,
       3978092, 3993395, 3461219, 3857074, 3611892, 1942015, 4004741,
       4015551, 1886485, 4034175, 4034566, 4039165, 4032233, 4038249,
       4030382, 3939509, 4044626, 4044261, 4014312, 4053445, 4080934,
       4081343, 3337785, 4098929, 2143641, 4108536, 4111523, 3391722])

In [46]:
user_1000087 = pd.read_excel('user_1000087.xlsx')

In [47]:
user_1000087.head()

   orderday      did    dcateCd   dcateNm
0  20180801  3055111  231010401  유아 어린이가구
1  20180802  3865190  303000000      국내성인
2  20180802  3360887  241010102    기저귀 기타
3  20180813  3313229  234010303   베이스메이크업
4  20180813  3617908  241030303     이유식용품

In [49]:
user_1000087[user_1000087.dcateCd == 242020104].orderday.unique()

array([20180911, 20180917, 20181002, 20181102])

In [50]:
user_1000087[user_1000087.dcateCd == 242020104].orderday.unique()[3]-user_1000087[user_1000087.dcateCd == 242020104].orderday.unique()[0]

191

In [52]:
user_1000087[user_1000087.dcateCd == 242020104].orderday.unique()[3]

20181102

In [55]:
pd.to_datetime('2018-11-02')-pd.to_datetime('2018-09-11')

Timedelta('52 days 00:00:00')

In [61]:
pd.to_datetime('2018-09-11').date()

datetime.date(2018, 9, 11)

In [62]:
order_mean = [pd.to_datetime('2018-09-11'), pd.to_datetime('2018-09-17'), pd.to_datetime('2018-10-02'), pd.to_datetime('2018-11-02')]

In [63]:
order_mean

[Timestamp('2018-09-11 00:00:00'),
 Timestamp('2018-09-17 00:00:00'),
 Timestamp('2018-10-02 00:00:00'),
 Timestamp('2018-11-02 00:00:00')]

In [64]:
order_mean[1]-order_mean[0]

Timedelta('6 days 00:00:00')

In [65]:
order_mean[2]-order_mean[1]

Timedelta('15 days 00:00:00')

In [66]:
order_mean[3]-order_mean[2]

Timedelta('31 days 00:00:00')

In [67]:
(6+15+31)/3

17.333333333333332