# # 감마피팅 안되고, RCP 0.25초과인 카테고리 데이터!

# # RCP데이터 - 3월~10월

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import scipy.stats as stats
import seaborn as sns

In [2]:
import os
print(os.getcwd())

/Users/we/Downloads/GCS data/ddddd_1541738861669

In [3]:
'{:05d}'.format(5)

'00005'

In [4]:
chunk = {}
data = pd.DataFrame()
for i in range(200):
    if (i == 178) or (i == 197):
        pass
    else :
        chunk[i] = pd.read_csv('./part-{:05d}-2e330e0d-b816-4340-aade-2930a03a4ab4-c000.csv'.format(i))
        data = data.append(chunk[i])

In [7]:
data.head()

       did    orderId       mid    dcateCd    scateCd    mcateCd    lcateCd
0  2547754  709023720   4935012  233090602  233090600  233090000  233000000
1  2547754  694407000  13205367  233090602  233090600  233090000  233000000
2  2547754  784760249   7593289  233090602  233090600  233090000  233000000
3  2547754  756990364  10341092  233090602  233090600  233090000  233000000
4  2547754  681458073   5198545  233090602  233090600  233090000  233000000

In [11]:
data.to_csv('result.csv')

In [6]:
data.dcateCd.nunique()

34

In [13]:
uniq_dcateCd = data.dcateCd.unique()

In [17]:
for i in range(len(uniq_dcateCd)):
    print(data[data.dcateCd == uniq_dcateCd[i]].shape[0])

362
246
7
287
96
27
1218
53
30
75
37
14
149
187
82
13825
9
4
55
64
10
49
530
4
5
4
123
6
2
3
2
19
18
2

In [16]:
for i in range(len(uniq_dcateCd)):
    #print(data[data.dcateCd == uniq_dcateCd[i]].shape[0])
    if data[data.dcateCd == uniq_dcateCd[i]].shape[0] > 500:
        print(i)

6
15
22

In [25]:
# 위의 6번 category

print(data[data.dcateCd == uniq_dcateCd[6]].mid.nunique())  # unique 거래규모 : 106명
print('category:', uniq_dcateCd[6])

106
category: 4104705

In [22]:
uniq_dcateCd[6]

4104705

In [26]:
# 위의 15번 category

print(data[data.dcateCd == uniq_dcateCd[15]].mid.nunique())  # unique 거래규모 : 1585명
print('category:', uniq_dcateCd[15])

1585
category: 4101093

In [27]:
# 위의 22번 category

print(data[data.dcateCd == uniq_dcateCd[22]].mid.nunique())  # unique 거래규모 : 392명
print('category:', uniq_dcateCd[22])

392
category: 4105200

---

---

# '4101093' 얘의  RCP구해볼거야

In [8]:
data.columns

Index(['did', 'orderId', 'mid', 'dcateCd', 'scateCd', 'mcateCd', 'lcateCd'], dtype='object')

In [24]:
dd = data[data.dcateCd == 4101093].loc[:, ['mid', 'dcateCd']]

In [25]:
dd.shape

(13825, 2)

In [26]:
dd.mid.nunique()  ## 1585명

1585

In [27]:
dd

          mid  dcateCd
2     3247390  4101093
3     2812200  4101093
4     5338810  4101093
5    23241936  4101093
6     4021699  4101093
7     4277319  4101093
8     4770371  4101093
9    15431762  4101093
10    1164090  4101093
11    1777666  4101093
12    4927007  4101093
13    2259978  4101093
14   14464895  4101093
15    2312171  4101093
16    4037379  4101093
17   11194953  4101093
18    2252042  4101093
19    1491881  4101093
20    2069215  4101093
21    2770193  4101093
22    1192403  4101093
23   14404845  4101093
24    1404482  4101093
25   19806804  4101093
26    6440455  4101093
27    1459961  4101093
28   18199691  4101093
29    6453021  4101093
30    6167874  4101093
31    3199734  4101093
..        ...      ...
597   5267378  4101093
598   1557234  4101093
599   2323710  4101093
600  21551383  4101093
601  23462160  4101093
602   1403841  4101093
603  19942447  4101093
604   3073335  4101093
605  19321937  4101093
606  16091912  4101093
607  20136454  4101093
608   1771623  4101093
609   5290534  4101093
610   4119257  4101093
611   1685381  4101093
612   1188969  4101093
613   1279758  4101093
614   7863034  4101093
615   4713981  4101093
616  15254112  4101093
617   3664980  4101093
618   5475501  4101093
619   2967119  4101093
620  10045320  4101093
621   1753341  4101093
622  17256662  4101093
623  23477093  4101093
624   1411387  4101093
625   1336334  4101093
626  12698112  4101093

[13825 rows x 2 columns]

In [29]:
dd.drop_duplicates(keep = False).shape

(33, 2)

In [30]:
dd.mid.nunique()

1585

In [31]:
(dd.mid.nunique()-dd.drop_duplicates(keep = False).shape[0])/dd.mid.nunique()

0.979179810725552