### # Data 추출 - 실장님 데이터에서 ver1/ver2 비교해본다.
1. water
2. shampoo
5. wettissue
-------------
rcp낮은것
1. pencil
2. ironingboard(주기도 짧다)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
import os
os.getcwd()

'/Users/we/Downloads/업무/buy it again_분석 '

./chunk/

In [3]:
chunk = {}
for i in range(13):
    chunk[i] = pd.read_csv('./chunk/chunk{}.csv'.format(i))

In [5]:
len(chunk)

13

In [6]:
chunk[12].tail()

,Unnamed: 0,biz_dt,m_id,order_price,prod_no,old_admin_category_id,serv_cd
3321035,123321035,2018-09-28 17:00:21,"18,342,102","3,170","100,913,544","237,040,103",2
3321036,123321036,2018-09-28 17:00:21,"18,342,102","3,800","100,913,555","237,040,103",2
3321037,123321037,2018-09-28 17:00:22,"24,137,068","1,699,000","101,984,766","233,040,120",2
3321038,123321038,2018-09-28 17:00:25,"5,357,454","25,000","110,485,856","240,010,305",2
3321039,123321039,2018-09-28 17:00:27,"21,865,461","55,900","100,371,485","233,080,119",2

---

1. water 확인

In [4]:
for i in range(13):
    print(chunk[i][chunk[i].old_admin_category_id == '240,040,102'].shape[0])

129414
129324
142252
142318
128361
143306
150075
150215
159662
192799
169850
150324
45373

In [5]:
np.array([129414,
129324,
142252,
142318,
128361,
143306,
150075,
150215,
159662,
192799,
169850,
150324,
45373]).sum()

1833273

In [7]:
water = pd.DataFrame()

In [8]:
for i in range(13):
    water = pd.concat([water, chunk[i][chunk[i].old_admin_category_id == '240,040,102']])

In [9]:
water.shape

(1833273, 7)

In [10]:
water.to_csv('water_new.csv')

---

2. shampoo 확인

In [11]:
for i in range(13):
    print(chunk[i][chunk[i].old_admin_category_id == '237,030,401'].shape[0])

112233
119708
105673
89122
97633
111371
94666
101107
81814
88810
112461
99877
30298

In [12]:
np.array([112233,
119708,
105673,
89122,
97633,
111371,
94666,
101107,
81814,
88810,
112461,
99877,
30298]).sum()

1244773

In [13]:
shampoo = pd.DataFrame()

In [14]:
for i in range(13):
    shampoo = pd.concat([shampoo, chunk[i][chunk[i].old_admin_category_id == '237,030,401']])

In [15]:
shampoo.shape

(1244773, 7)

In [16]:
shampoo.to_csv('shampoo_new.csv')

---

3. 연필/지우개/필통 확인

In [20]:
for i in range(13):
    print(chunk[i][chunk[i].old_admin_category_id == '237,020,702'].shape[0])

3091
5289
8555
2363
2623
2386
2075
2477
2040
1685
1861
2836
673

In [21]:
np.array([3091,
5289,
8555,
2363,
2623,
2386,
2075,
2477,
2040,
1685,
1861,
2836,
673]).sum()

37954

In [22]:
pencil = pd.DataFrame()

In [23]:
for i in range(13):
    pencil = pd.concat([pencil, chunk[i][chunk[i].old_admin_category_id == '237,020,702']])

In [24]:
pencil.shape

(37954, 7)

In [25]:
pencil.to_csv('pencil_new.csv')

---

4. 다리미판 확인

In [26]:
for i in range(13):
    print(chunk[i][chunk[i].old_admin_category_id == '237,040,501'].shape[0])

485
456
846
1327
1033
1058
1326
1173
1095
847
1030
890
471

In [27]:
np.array([485,
456,
846,
1327,
1033,
1058,
1326,
1173,
1095,
847,
1030,
890,
471]).sum()

12037

In [28]:
ironingboard = pd.DataFrame()

In [29]:
for i in range(13):
    ironingboard = pd.concat([ironingboard, chunk[i][chunk[i].old_admin_category_id == '237,040,501']])

In [30]:
ironingboard.shape

(12037, 7)

In [31]:
ironingboard.to_csv('ironingboard_new.csv')

---

5. 물티슈 기타

In [32]:
for i in range(13):
    print(chunk[i][chunk[i].old_admin_category_id == '241,020,104'].shape[0])

139774
134411
145519
125992
130449
138304
120911
125609
112491
102534
132657
121551
35391

In [33]:
np.array([139774,
134411,
145519,
125992,
130449,
138304,
120911,
125609,
112491,
102534,
132657,
121551,
35391]).sum()

1565593

In [34]:
wettissue = pd.DataFrame()

In [35]:
for i in range(13):
    wettissue = pd.concat([wettissue, chunk[i][chunk[i].old_admin_category_id == '241,020,104']])

In [36]:
wettissue.shape

(1565593, 7)

In [37]:
wettissue.to_csv('wettissue_new.csv')

---